<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [8]:
str_value = "rosario"
boolean_value = False
int_value = 10

if str_value == "rosario":
    print("string adalah rosario")

if boolean_value != True:
    print(False)

if int_value >= 10:
    print(int_value)

string adalah rosario
False
10



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [9]:
jenis_makanan1 = "Tumbuhan"
jenis_makanan2 = "Daging"

if jenis_makanan1 == "Tumbuhan" and jenis_makanan2 == "Daging":
    print("Omnivora")

if jenis_makanan1 == "Tumbuhan" or jenis_makanan2 == "Daging":
    print("Karnivora/Herbivora/Omnivora")

jenis_makanan1 = "Daging"
if not jenis_makanan1 == "Tumbuhan":
    print("Karnivora")

Omnivora
Karnivora/Herbivora/Omnivora
Karnivora



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [5]:
#code here
grade = "A"
price = 100000

if grade == "A" and price > 100000:
    print("High")
elif grade == "A" and price > 50000:
    print("Medium")
elif grade == "A" and price <= 50000:
    print("Low")

Medium



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [16]:
# Buat fungsi
def compare(value):
    if value%2!=0 or (value % 2 == 0 and (value >= 6 and value <= 20)):
        return "Aneh"
    elif value%2 == 0 and ((value >= 2 and value <=5) or (value > 20)):
        return "Tidak Aneh"

print(compare(21))

Aneh



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

# Jawaban
Kita dapat menggunakan for loop jika kita telah mengetahui jumlah perulangan yang akan dilakukan. Kita menggunakan while loop ketika belum tau jumlah perulangan yang akan dilakukan

In [5]:
# jawaban contoh

# while loop
x = 5

while x > 0:
    print(x)
    x -= 1

y = 20
for i in range(0, y):
    print(i)

5
4
3
2
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [1]:
def fungsi_while(angka):
    while angka != 0:
        print(angka)
        if angka > 0:
            angka -= 1
        else:
            angka += 1



fungsi_while(10)
fungsi_while(-10)

10
9
8
7
6
5
4
3
2
1
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [9]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

In [11]:
#code here
result = []
for i in data_siswa:
    if(i["nilai"] >= 80):
        result.append(i["nama"])

print(result)

['Budi', 'Rudi', 'Leo']

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [14]:
obj_list= [1, 16, 11, 10, 5]

for i, val in enumerate(obj_list):
    print(i * val)

# lengkapi code di bawah

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---