# Indexing Series

In [11]:
# Series as Dictionary
import pandas

series_ = pandas.Series([1,2,3,4,5], index=['a','b', 'c', 'd', 'e'])


print(series_)
#indexing keys
print(series_.keys())
#indexing value
print(series_.values)

# check value
'c' in series_

a    1
b    2
c    3
d    4
e    5
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[1 2 3 4 5]

True

In [20]:
# Series as Array
# slicing explicit index
print(series_['a':'d'])

#slicing implicit index
print(series_[0:2])

# Indexing with filtering
print(series_[series_ > 4])

a    1
b    2
c    3
d    4
dtype: int64
a    1
b    2
dtype: int64
e    5
dtype: int64

# Indexing Data Frame

In [38]:
df_ = pandas.DataFrame({'nama_siswa' : ['Bagas', 'Rosa', 'Rio'], 'umur_siswa' : [20, 20, 20]})

print(df_)

print(df_.iloc[:1 , 1:2])

print(df_.loc[:1, 'umur_siswa'])

  nama_siswa  umur_siswa
0      Bagas          20
1       Rosa          20
2        Rio          20
   umur_siswa
0          20
0    20
1    20
Name: umur_siswa, dtype: int64