# Data Merging

In [15]:
# Penggabungan dengan concat

import pandas as pd
import numpy as np

df1 = pd.DataFrame({'id_siswa': ['A001', 'A002', 'A003', 'A004'],
                            'Kelas': ['12A', '12B', '12C', '12D'],
                            'Nilai': [100, 98, 96, 95 ],
                            'Peringkat': [1, 2, 3, 4]},
                             index=[0, 1, 2, 3])

df2 = pd.DataFrame({'id_siswa': ['A005', 'A006', 'A007', 'A008'],
                            'Kelas': ['12E', '12F', '12G', '12H'],
                            'Nilai': [90, 88, 86, 85 ],
                            'Peringkat': [5, 6, 7, 8]},
                             index=[4, 5, 6, 7])

df3 = pd.DataFrame({'id_siswa': ['A009', 'A010', 'A011', 'A012'],
                            'Kelas': ['12I', '12J', '12K', '12L'],
                            'Nilai': [80, 75, 73, 70 ],
                            'Peringkat': [9, 10, 11, 12]},
                             index=[8, 9, 10, 11])

concat_ = pd.concat([df1, df2, df3])
print(concat_)

#concat berdasarkan kolom

concat_column = pd.concat([df1, df2, df3], axis=1)
print(concat_column)

   id_siswa Kelas  Nilai  Peringkat
0      A001   12A    100          1
1      A002   12B     98          2
2      A003   12C     96          3
3      A004   12D     95          4
4      A005   12E     90          5
5      A006   12F     88          6
6      A007   12G     86          7
7      A008   12H     85          8
8      A009   12I     80          9
9      A010   12J     75         10
10     A011   12K     73         11
11     A012   12L     70         12
   id_siswa Kelas  Nilai  Peringkat id_siswa Kelas  Nilai  Peringkat id_siswa  \
0      A001   12A  100.0        1.0      NaN   NaN    NaN        NaN      NaN
1      A002   12B   98.0        2.0      NaN   NaN    NaN        NaN      NaN
2      A003   12C   96.0        3.0      NaN   NaN    NaN        NaN      NaN
3      A004   12D   95.0        4.0      NaN   NaN    NaN        NaN      NaN
4       NaN   NaN    NaN        NaN     A005   12E   90.0        5.0      NaN
5       NaN   NaN    NaN        NaN     A006   12F   88.0        6.0      NaN
6       NaN   NaN    NaN        NaN     A007   12G   86.0        7.0      NaN
7       NaN   NaN    NaN        NaN     A008   12H   85.0        8.0      NaN
8       NaN   NaN    NaN        NaN      NaN   NaN    NaN        NaN     A009
9       NaN   NaN    NaN        NaN      NaN   NaN    NaN        NaN     A010
10      NaN   NaN    NaN        NaN      NaN   NaN    NaN        NaN     A011
11      NaN   NaN    NaN        NaN      NaN   NaN    NaN        NaN     A012

   Kelas  Nilai  Peringkat
0    NaN    NaN        NaN
1    NaN    NaN        NaN
2    NaN    NaN        NaN
3    NaN    NaN        NaN
4    NaN    NaN        NaN
5    NaN    NaN        NaN
6    NaN    NaN        NaN
7    NaN    NaN        NaN
8    12I   80.0        9.0
9    12J   75.0       10.0
10   12K   73.0       11.0
11   12L   70.0       12.0

# Penggabungan Method Merge

In [10]:
print("Full Outer Join")

df1 = pd.DataFrame({'id_siswa': ['A001', 'A002', 'A003', 'A004'],
                    'Kelas': ['12A', '12B', '12C', '12D'],
                    'Tinggi siswa (cm)': [155, 160, 170, 165 ]},
                     index=[0, 1, 2, 3])
df2 = pd.DataFrame({'id_siswa': ['A001', 'A002', 'A005', 'A006'],
                    'Nilai': [100, 98, 96, 95 ],
                    'Peringkat': [1, 2, 3, 4]},
                     index=[4, 5, 6, 7])

print('data pertama')
print('=========')
print(df1)
print('data kedua')
print('=========')
print(df2)

merge_full_outer = pd.merge(df1, df2, on='id_siswa', how='outer')

print(merge_full_outer)

Full Outer Join
data pertama
=========
  id_siswa Kelas  Tinggi siswa (cm)
0     A001   12A                155
1     A002   12B                160
2     A003   12C                170
3     A004   12D                165
data kedua
=========
  id_siswa  Nilai  Peringkat
4     A001    100          1
5     A002     98          2
6     A005     96          3
7     A006     95          4
  id_siswa Kelas  Tinggi siswa (cm)  Nilai  Peringkat
0     A001   12A              155.0  100.0        1.0
1     A002   12B              160.0   98.0        2.0
2     A003   12C              170.0    NaN        NaN
3     A004   12D              165.0    NaN        NaN
4     A005   NaN                NaN   96.0        3.0
5     A006   NaN                NaN   95.0        4.0

In [11]:
print("Inner Join")

merge_inner_join = pd.merge(df1,df2, on='id_siswa', how='inner')
print(merge_inner_join)

Inner Join
  id_siswa Kelas  Tinggi siswa (cm)  Nilai  Peringkat
0     A001   12A                155    100          1
1     A002   12B                160     98          2

In [13]:
print("Left Join")

merge_left_join = pd.merge(df1,df2, on='id_siswa', how='left')
print(merge_left_join)

Left Join
  id_siswa Kelas  Tinggi siswa (cm)  Nilai  Peringkat
0     A001   12A                155  100.0        1.0
1     A002   12B                160   98.0        2.0
2     A003   12C                170    NaN        NaN
3     A004   12D                165    NaN        NaN

In [14]:
print('Right Join')

merge_right_join = pd.merge(df1,df2, on='id_siswa', how='right')
print(merge_right_join)

Right Join
  id_siswa Kelas  Tinggi siswa (cm)  Nilai  Peringkat
0     A001   12A              155.0    100          1
1     A002   12B              160.0     98          2
2     A005   NaN                NaN     96          3
3     A006   NaN                NaN     95          4

# Data Grouping

In [1]:
print("Data Grouping")

df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                           ('bird', 'Psittaciformes', 24.0),
                           ('mammal', 'Carnivora', 80.2),
                           ('mammal', 'Primates', np.nan),
                           ('mammal', 'Carnivora', 58)],
                          index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                             columns=('class', 'order', 'max_speed'))

print(df)

df.groupby('class').mean()

print(df.groupby(['class', 'order'])[['max_speed']].agg(['mean', 'sum']))

Data Grouping

NameError: name 'pd' is not defined